body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

.jumbotron {
    background-image: url("bk.jpg");
    background-size: cover;
    
        color: #f0f8FF;
    

  }
title {
    color: #f0f8FF;
}